@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
html *
{
   font-size: 12pt !important;
   color: #2c3e50 !important;
   font-family: Lato !important;
}

h1
{
	font-size: 24pt;
	
}