.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}

.listScroll {
    overflow: scroll;
    height: 100px;
    padding-right:12px;
}

.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
} 

.ui-selectonemenu-panel {
   width:170px !important;
}
