.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}

.listScroll {
    overflow: visible;
    height: 200px;
    padding-right:12px;
}

.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
} 

.ui-selectonemenu-panel {
   width:170px !important;
}


#draggable ul {

    height: 200px;
    overflow: auto;
}

#draggable ul li {
  padding: 10px 15px;
}

.notScrolledBoxTop {
	margin-top: 0px;
	width:260px;
	
	z-index:10;
	
}

.scrolledBoxTop {
	margin-top: -100px;
	width:260px;
	z-index:10;
	
}

.notScrolledBoxBottom {
	
	width:260px; 
	margin-top:300px;
	
	z-index:10;
	
}

.scrolledBoxBottom {
	
	width:260px; 
	margin-top:200px;
	
	z-index:10;
	
}


