.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}

.listScroll {
    overflow: scroll;
    height: 250px;
    padding-right:12px;
}