/UserDTO.class
/BaseProductDTO.class
/BuyingListItemDTO.class
/ClassPersonalizationDTO.class
/DatePersonalizationDTO.class
/ExcursionDTO.class
/FieldNotPresentException.class
/FlightDTO.class
/HotelDTO.class
/InvitationDTO.class
/PackageDTO.class
/PersonalizationDTO.class
/PersonalizedExcursionDTO.class
/PersonalizedFlightDTO.class
/PersonalizedHotelDTO.class
/PersonalizedProductDTO.class
